name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build and push Docker image
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        tags: |
          ghcr.io/ddg-mail-generator:$(date +%s)
          ghcr.io/ddg-mail-generator:latest
